.login {
    margin: 0 auto;
    width: 100%;
    height: 520px;
    display: flex;
    justify-content: center;
    position: relative;
}

.login__branch {
    width: 400px;
    height: 100%;
    background: #34495e;
    padding: 30px 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 20px;
}

.to-sign-up {
    background: #34495e;
    color: #fff;
    margin-top: 25px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
}

.to-sign-up:hover {
    background: #fff;
    color: #34495e;
}

.login__branch img{ 
    margin-top: 70px;
    width: 180px;
    animation: spinner 10s linear infinite backwards;
}

.login__branch img:hover {
    animation-play-state: paused;

}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.login__form {
    background: #8e44ad;
    width: 100%;
    max-width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 30px 40px; */
    padding: 30px 10px;
    color: #fff;
    transition: 0.3s;
    box-shadow: #002838 0px 10px 20px, #002838 0px 6px 6px;
}

.login__sign-in {
    margin-bottom: 40px;
    margin-top: 20px;
    text-transform: capitalize;
    font-size: 32px;
}

.login__input {
    width: 95%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}

.login__input label {
    display: none;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.login__input input {
    width: 100%;
    background: #dfe6e9;
    height: 35px;
    border-radius: 6px;
    font-size: 15px;
    padding: 0px 20px;
}

.btn__sign-in {
    margin-top: 80px;
    /* width: 120px; */
    width: 95%;
    border-radius: 6px;
    background: #000;
    color: #fff;
    height: 50px;
    transition: 0.3s;
    font-size: 700;
}

.btn__sign-in:hover {
    background: #b2bec3;
    font-size: 700;
    color: #000;
}

.sign-in__forget-pass {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.sign-in__forget-pass span {
    color: #000;
    font-weight: 700;
}

.sign-in__forget-pass span:hover {
    cursor: pointer;
    color: #17c0eb;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 400px) { 
    .login__form {
        border-radius: 10px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .login {
        width: 70%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
    .login__form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* padding: 30px 40px; */
        padding: 30px 10px;
        color: #fff;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  
    .login {
        width: 800px;        
        border-radius: 10px;
        overflow: hidden;
        box-shadow: #002838 0px 10px 20px, #002838 0px 6px 6px;
    }

    .login__form {
        width: 400px;
        border-radius: 0;
    }

    .login__branch {
        display: flex;
    }

    .sign-in__forget-pass {
        display: none;
    }

    .btn__sign-in {
        width: 120px;
    }

    .login__input label {
        display: block;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  

}